<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="Employee_Bank_O2O_CRUD">
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <property name="context-root" value="Employee_Bank_O2O_CRUD"/>
        <property name="java-output-path" value="/Employee_Bank_O2O_CRUD/build/classes"/>
    </wb-module>
</project-modules>
